body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.3rem;

	a {
		color: #eee;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.books {
		.book {
			background-color: #222;
			margin-bottom: 10px;
			padding: 20px;
			display: flex;
			width: 600px;

			img {
				height: 160px;
			}

			.info {
				margin-left: 10px;

				.title {
					color: rgb(203, 159, 76);
				}

				.description {
					font-style: italic;
					font-size: 1rem;
				}
			}
		}
	}
}